<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/main.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Playfair+Display:ital@0;1&family=Raleway&family=Roboto+Condensed:ital@0;1&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>University Parcel Management System</h1>

    <div class="container">
        <div class="main">
            <h2>Welcome!</h2>
            <p>Please Choose Your Role</p>
            <a href="/admin_login"><button>Admin</button></a>
            <a href="/user_login"><button>User</button></a>
            <a href="/staff_login"><button>Staff</button></a>
            <a href="/courier_login"><button>Courier</button></a>

        </div>

    </div>
</body>
</html>
