<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/user_dashboard.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
</head>
<body>
    <div class="top-container">
        <h1>Staff Dashboard</h1>

        <a href="/logout">
            <button class="logout-button">Logout</button>
        </a>
    </div>

    <div class="welcome-message">     
        <p>Welcome, Staff {{ username }}</p>
    </div>

    
    <div class= main-content>
        <a href="/staff_parcels">
            <button class="btn">View All Parcels</button>
        </a>

        <a href="{{ url_for('view_feedback') }}">
            <button class="btn">View Feedback</button>
        </a>
    </div>
</body>
</html>
