<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/user_noti.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Notifications</title>
</head>
<body>
    <div class="top-container">
        <h1>Welcome, {{  session['username'] }}</h1>
    </div>
    <div class="title">
        <h2>Your Notifications</h2>
    </div>
    <div class="main-content">
        {% if notifications %}
            <ul>
                {% for notification in notifications %}
                    <li>
                        {{ notification.message }} ({{ notification.created_at.strftime('%Y-%m-%d %H:%M')}})
                        {% if notification.parcel_id %}
                            <!-- Collected button added here -->
                            <form action="{{ url_for('mark_collected', parcel_id=notification.parcel_id) }}" method="post" style="display:inline;">
                                <button type="submit">Collected ✅</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No new notifications.</p>
        {% endif %}
    
        <a href="{{ url_for('student_dashboard') }}">
            <button class="btn">Back to Dashboard</button>
        </a>
    </div>


    
</body>
</html>
